@* @model CORE.Models.Patient *@
@model WEB_MEDICAL.ViewModels.PatientView;


<style>
    
</style>

<div>
    <h4>Patient Details</h4>
    <hr />
    <dl class="row">
       @*  <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd> *@

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName):
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDescription):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientDescription)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdmitDate):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdmitDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)  @* //depname keno show hossena *@
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
